* {
    font-family: Arial, Helvetica, sans-serif;
}

nav .mb-nav {
    display: none;
}

@media only screen and (max-width: 740px) {
    nav .pc-nav {
        display: none;
    }
    nav .mb-nav {
        display: flex;
        justify-content: space-between;
    }
    nav .mb-nav img {
        padding: 5px 10px !important;
        height: 45px;
    }
    .modal-body a {
        color: black !important;
        text-decoration: none !important;
    }

    .modal-body ul {
        display: flex;
        flex-direction: column;
    }

    .modal-body ul li {
        padding: 0px 50px;
    }
}



body {
    font-size: 100%;
    font-weight: bolder;
    text-transform: uppercase;
    box-sizing: border-box;
    background-color: gray;
}

nav {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 15px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    text-decoration: none !important; 
    color: white !important;
    padding: 15px 16px !important;
    transition: ease 0.3s;
}

nav ul li a:hover {
    color: green !important;
}

.child-nav ul {
    background-color: black;
    display: block;
}

.child-nav ul {
    display: none;
    position: absolute;
    background-color: black;
}

.child-nav:hover ul {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.logoVinFast {
    height: 46px !important;
    padding: 5px 10px !important;
}

section {
    margin-top: 50px;
}

/*section > div {
    border: 15px solid rgb(48, 48, 245);
    border-radius:0 30px 30px 30px;
    padding: 30px;
}*/

.product img {
    width: 100%;
}

.product a {
    text-decoration: none;
    color: blue;
}

.product a:hover {
    text-decoration: none;
    color: red;
}

.car h4, .moto h4 {
    font-weight: bolder;
    font-size: large;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

.car, .moto {
    padding: 0px 50px;
}

.cars, .motos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    padding: 50px;
    border-bottom: 2px solid gray;
}

.cars div, .motos div {
    padding: 30px;
    width: 32%;
    opacity: 0.9;
    transition: ease 0.3s;
}

.cars div:hover, .motos div:hover {
    opacity: 1;
    transform: scale(1.1)
}

.cars figcaption, .motos figcaption {
    text-align: center;
    font-size: 15px;
}

.carousel-inner div {
    align-items: center;
    width: 100% !important;
}

.product {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}

/* CSS News */
.news {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    padding: 50px;
    position: relative;
}

.news img:hover {
   opacity: 1;
   transform: scale(1.0,0.95)
}

.news-left {
    width: 50%;
    float: left;
    height: auto;
    padding-left: 100px;
}

.news-right {
    height: auto;
 }

 .news .news-left img {
    width: 90%;
    height: auto;
    padding-top: 30px;
}

.news .news-right img {
    width: 15%;
    padding-top: 30px;
}

.main-news {
    padding-left: 100px;
    margin-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2.0rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 5px solid gray;
}

.the-text {
    display: inline-block;
    padding-top: 10px;
    font-size: 30px;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.the-text:hover {
    text-decoration: none;
    color: #c4161c;
}

.text {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 18px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text:hover {
    text-decoration: none;
    color: #c4161c;
}

.news1 {
    margin-top: 20px;
}
/* ShowRoom */
.imgshowroom img {
    width: 100%;
    height: 100%;
}
.main-showroom {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-showroom h2 {
    font-weight: bold;
    color: #000;
    margin: 0 auto;
    width: 40%;
    font-size: 35px;
    text-align: center;
    margin-top: 70px;
}

.main-showroom p {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #c4161c;
}

.middle-showroom {
    width: 45%;
    margin: 0 auto;
}

.middle-showroom p {
    font-size: 16px;
    text-transform: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link {
    font-style: italic;
    padding-bottom: 70px;
}

.image-showroom img {
    width: 100%;
}

.text-news {
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-news2 {
    padding-top: 10px;
}
/* CSS Footer */
footer {
    background-color: #f7f7f7;
    text-transform: none;
    width: 100%;
    height: 300;
    padding: 50px 10px;  
    clear: left;
}

.footer {
    width: 100%;
    padding: 50px 10px;
    color: #000000;
    display: flex;
    margin: 0 auto;
    font-size: 20px;
    justify-content: center;
   
}

.the-footer {
    /*width: 20%;*/
    overflow: auto;
    padding: 50px;
}

footer ul {
    display: flex;
    list-style-type: none;
    font-size: 15px;
}


.the-footer ul li a:hover {
    color: rgba(170, 32, 32, 0.5);
    text-decoration: none;
}

/*car.html css*/
.tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab div {
    width: 30%;
    padding: 2%;
    margin: 1%
}

.tab div:hover {
    border: 1px solid grey;
    border-radius: 5%;
}

.tab div img {
    width: 100%;
}

.tab div figcaption {
    padding: 10px;
}

.tab div figcaption h4 {
    text-align: center;
    padding: 5px;
    font-weight: bolder;
}

.tab a {
    text-decoration: none;
    color: black;
}

.tab a:hover {
    text-decoration: none;
}